/* 设置每一页的背景颜色 */
/*.s1 {
  background-color: #79def7;
}

.s2 {
  background-color: #fc5f53;
}

.s3 {
  background-color: #ffff00;
}

.s4 {
  background-color: #ffffcc;
}

.s5 {
  background-color: #fdf6e3;
}

.s6 {
  background-color: #efefef;
}*/


/* 第一页 */
.col-md-4 {
  text-align: center;
}
#s1_app {
  position: relative;
  float: left;
  width: 120px;
  left: 10px;
  z-index: 1;

  animate-duration: 3s;    //动画持续时间
  animate-delay: 5s;    //动画延迟时间
  animate-iteration-count: 2;    //动画执行次数

}

.name {
  width: 280px;
  margin: 0 auto;
}

#s1_iot {
  position: relative;
  float:right;
  width: 120px;
  right: 10px;
  z-index: 2;
}

#s1_coder {
  position: relative;
  width: 200px;
  top: -35px;
  z-index: 3;
}

#s1_recruit {
  position: relative;
  width: 240px;
  margin-top: -30px;
}

#s1_girl {
  position: relative;
  width: 100px;
  left: 20px;
}

/* 第二页 */

#s2-logo {
  position: relative;
  margin-top: 75px;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 110px;
  margin: 0 auto;
}

.center {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

#s2_textUp {
  position: relative;
  margin-bottom: 10px;
}

#s2_textDown {
  position: relative;
  margin-top: 10px;
}

.s2 span {
  color: #38eece;
  font-size: 20px;
  font-weight: bold;
}

/* 第三页 */

.s3 p {
  float: left;
  width: 80%;
  margin-left: 11%;
  font-size: 16px;
  font-weight: 800;
}

.s3 img {
  position: relative;
  margin-top: 5%;
}

/*第四页 */
.img {
  width: 92%;
  margin-top: 10px;
}

.like {
  position: relative;
  margin-bottom: 10px;
  width: 120px;
}

/* 第五页 */
.s5 img {
  width: 300px;
}

/* 第六页 */
.s6 span {
  display: block;
  color: #222222;
}

#QR_code {
  width: 200px;
  margin-top: -20px;
}

#bt {
  display: block;
  text-align: center;
  width: 80px;
  margin: 0 auto;
}
